@font-face {
    font-family: Poppins;
    src: url(../Poppins/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    font-size: 16px;
    font-weight: bold;
    /* border-bottom: 2px solid rgba(255, 255, 255, .2); */
}
.logout img{
    width: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: row-reverse;

}
.logo img {
    width: 65px;
}

.navbar a {
    color: #ffff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 35px;
    transition: .3s;

}
.navbar .dash{
    color: #ffff;
}

.navbar a:hover {
    color: #1cade6;
}

.divLogoPrincipal {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../ASSETS/farm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: #ffff 2px;
}

.divLogoPrincipal h1 {
    color: white;
    
}
.container{
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;    
    
}
.compra{
    display: flex;
    flex-direction: column;
    background: #D98B3A;
    width: 600px;   
    align-items: center;
    padding: 20px;
    height: 600px;
    border-radius: 20px;
    color: #ffff;
}
.pierre{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    margin-right: 200px;
    z-index: 0;
}
.falaPierre{
    width: 300px;
    /* margin-top: 20px; */
}
.venda{
    /* margin-top: 180px; */
    display: flex;
    flex-direction: column;
    background-color: #43A118;
    width: 600px;
    align-items: center;
    padding: 20px;
    height: 600px;
    border-radius: 20px;
    color: white;
    margin-top: -20vh;
    
}
#msg{
    /* margin-top: 180px; */
    background-color: rgba(255, 255, 255, 0.6);
    width: 300px;
    height: 600px;
    border-radius: 10px;
    border: 4px solid #DC5F00;
    padding: 5px;
    color: #DC5F00;
}
#msg p{
    font-size: 16px;
    font-weight: bold;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: rgb(39, 39, 39);
}
select {
    padding: 5px;
    border-radius: 5px;
    border: none;
}
#selectFruta{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
button{
    padding: 8px;
    border-radius: 5px;
    border: none;
}
.caixaRemessas .caixa{
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    background: rgba(217,139,58, 0.5);
    color: #ffff;
    backdrop-filter: blur(1px);
    justify-content: space-around;
    /* border: 3px solid rgba(255, 255, 255, .2); */
}
.caixaRemessas{
    display: flex;
    flex-direction: column;
    background: url(../ASSETS/caixaRemessas.png);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
}
footer{
    background-color: #1cade6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    color: #ffff;
    margin-top: 50px;
}



