@font-face {
    font-family: Poppins;
    src: url(../Poppins/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    font-size: 16px;
    font-weight: bold;
    /* border-bottom: 2px solid rgba(255, 255, 255, .2); */
}
.logout img{
    width: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: row-reverse;

}
.logo img {
    width: 65px;
}

.navbar a {
    color: #ffff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 35px;
    transition: .3s;

}
.navbar .dash{
    color: #ffff;
}

.navbar a:hover {
    color: #1cade6;
}

.divLogoPrincipal {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../ASSETS/farm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: #ffff 2px;
}

.divLogoPrincipal h1 {
    color: white;
    
}
.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #1cade6;
    width: 700px;
    align-items: center;
    padding: 20px;
    height: 700px;
    border-radius: 20px;
    color: white;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: rgb(39, 39, 39);
}
select {
    padding: 5px;
    border-radius: 10px;
    border: none;
}
#selectFruta{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
#msg{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
button{
    padding: 8px;
    border-radius: 5px;
    border: none;
}
footer{
    background-color: #1cade6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    color: #ffff;
}



