@font-face {
    font-family: Poppins;
    src: url(../Poppins/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    font-size: 16px;
    font-weight: bold;
    /* border-bottom: 2px solid rgba(255, 255, 255, .2); */
}
.logout img{
    width: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: row-reverse;

}
.logo img {
    width: 65px;
}

.navbar a {
    color: #ffff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 35px;
    transition: .3s;

}
.navbar .dash{
    color: #ffff;
}

.navbar a:hover {
    color: #1cade6;
}

.divLogoPrincipal {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../ASSETS/farm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: #ffff 2px;
}

.divLogoPrincipal h1 {
    color: white;
    margin-top: 50px;
}
.dashboard{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dashboard .kpis{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.dashboard .grafics{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.dashboard .grafico1{
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    font-weight: bold;
    width: 620px;
    padding: 40px;
    transition: transform 0.3s;
    color: #202020;
}
.dashboard .grafico1:hover{
    transform: translateY(-10px);
}
.dashboard .grafico2{
    background-color: rgba(255, 255, 255);
    font-weight: bold;
    border-radius: 20px;
    width: 620px;
    padding: 40px;
    transition: transform 0.3s;
    color: #202020;
}
.dashboard .grafico2:hover{
    transform: translateY(-10px);
}
.dashboard .kpi1{
    background-color: rgba(255, 255, 255);
    color: #1cade6;
    font-weight: bold;
    border-radius: 10px;
    width: 300px;
    padding: 40px;
    transition: transform 0.3s;
}
.dashboard .kpi1:hover{
    transform: translateY(-10px);
}
.dashboard .kpi1 p{
    font-size: 18px;
    color: #202020;
}
.dashboard .kpi2{
    background-color: rgba(255, 255, 255);
    color: #1cade6;
    border-radius: 10px;
    font-weight: bold;
    width: 300px;
    padding: 40px;
    transition: transform 0.3s;
}
.dashboard .kpi2 p{
    color: #202020;
    font-size: 18px;
}
.dashboard .kpi2:hover{
    transform: translateY(-10px);
}
.dashboard .kpi3{
    background-color: rgba(255, 255, 255);
    color: #1cade6;
    border-radius: 10px;
    font-weight: bold;
    width: 300px;
    padding: 40px;
    transition: transform 0.3s;
}
.dashboard .kpi3:hover{
    transform: translateY(-10px);
}
.dashboard .kpi3 p{
    font-size: 18px;
    color: #202020;
}
.dashboard .kpi4{
    background-color: rgba(255, 255, 255);
    color: #1cade6;
    border-radius: 10px;
    font-weight: bold;
    width: 300px;
    padding: 40px;
    transition: transform 0.3s;
}
.dashboard .kpi4:hover{
    transform: translateY(-10px);
}
.dashboard .kpi4 p{
    font-size: 18px;
    color: #202020;
}

footer{
    background-color: #1cade6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    color: #ffff;
}



