@font-face {
    font-family: Poppins;
    src: url(../Poppins/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    font-size: 16px;
    font-weight: bold;
    /* border-bottom: 2px solid rgba(255, 255, 255, .2); */
}
.logout img{
    width: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: row-reverse;

}
.logo img{
    width: 65px;
}
.navbar a{
    color: #ffff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #1cade6;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: url(../ASSETS/testeGalinha.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
.container{
    color: white;
    width: 900px;
    background: rgb(255, 139, 174);
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 150px;
    margin-bottom: 10px;
}
.criador{
    display: flex;
    flex-direction: row;
}
.tituloCriador{
    text-align: center;
    margin-bottom: 40px;
}
.imgCriador{
    width: 300px;
    border-radius: 20px;
}
.criador .textoBarone1{
    margin-left: 50px;
    text-align: justify;
    display: flex;
    align-items: center;
}
.criador2{
    display: flex;
    flex-direction: row-reverse;
}
.imgLucaseFla{
    border-radius: 20px;
    width: 300px;
}
.criador2 .textoBarone2{
    margin-right: 50px;
    text-align: justify;
    display: flex;
    align-items: center;
}
.criador3{
    display: flex;
    flex-direction: row;
}
.criador3{
    display: flex;
    flex-direction: row;
}
.imgFlaviaStardew{
    border-radius: 20px;
    width: 300px;
}
.criador3 .textoBarone3{
    margin-left: 50px;
    text-align: justify;
    display: flex;
    align-items: center;
}
footer{
    background-color:rgb(255, 139, 174);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    color: #ffff;
}