@font-face {
    font-family: Poppins;
    src: url(../Poppins/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
    /* border-bottom: 2px solid rgba(255, 255, 255, .2); */
}
.logout img{
    width: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: row-reverse;
}
.logo img{
    width: 65px;
}
.navbar a{
    color: #ffff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #1cade6;
    cursor: pointer;
}
body{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: url(../ASSETS/farm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
.container{
    /* margin-left: 25px; */
    color: white;
    background: #1cade6;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 150px;

}
.cultivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloCultivo{
    text-align: center;
    margin-bottom: 40px;
}
.imgCultivo{
    width: 600px;
    border-radius: 20px;
}
.cultivo .textoCultivo{
    margin-top: 20px;
    margin-left: 50px;
    text-align: justify;
    display: flex;
    align-items: center;
}
.pesca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloPesca{
    text-align: center;
    margin-bottom: 40px;
}
.imgPesca{
    width: 415px;
    border-radius: 20px;
}
.pesca .textoPesca{
    margin-top: 20px;
    margin-left: 50px;
    text-align: justify;
    display: flex;
    align-items: center;
}
.mineracao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloMineracao{
    text-align: center;
    margin-bottom: 40px;
}
.imgMineracao{
    width: 600px;
    border-radius: 20px;
}
.mineracao .textoMineracao{
    margin-top: 20px;
    margin-left: 50px;
    text-align: justify;
    display: flex;
    align-items: center;
}
.combate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloCombate{
    text-align: center;
    margin-bottom: 40px;
}
.imgCombate{
    width: 555px;
    border-radius: 20px;
}
.combate .textoCombate{
    margin-top: 20px;
    margin-left: 50px;
    text-align: justify;
    display: flex;
    align-items: center;
}
.coleta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloColeta{
    text-align: center;
    margin-bottom: 40px;
}
.imgColeta{
    width: 600px;
    border-radius: 20px;
}
.coleta .textoColeta{
    margin-top: 20px;
    margin-left: 50px;
    text-align: justify;
    display: flex;
    align-items: center;
}
.Valley{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloValley{
    text-align: center;
    margin-bottom: 40px;
}
.imgValley{
    width: 555px;
    border-radius: 20px;
}
.Valley .textoValley{
    margin-top: 20px;
    margin-left: 50px;
    text-align: justify;
    display: flex;
    align-items: center;
}
footer{
    margin-top: -50px;
    background-color:#1cade6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    color: #ffff;
}