@font-face {
    font-family: Poppins;
    src: url(../Poppins/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    font-size: 16px;
    font-weight: bold;
    /* border-bottom: 2px solid rgba(255, 255, 255, .2); */
}
.logout img{
    width: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: row-reverse;

}
.logo img {
    width: 65px;
}

.navbar a {
    color: #ffff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 35px;
    transition: .3s;

}
.navbar .dash{
    color: #ffff;
}

.navbar a:hover {
    color: #1cade6;
}

.divLogoPrincipal {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../ASSETS/farm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: #ffff 2px;
}

.divLogoPrincipal h1 {
    color: #ffff;
    margin-bottom: 100px;
    font-weight: bolder;
    margin-top: -100px;
    font-size: 60px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
}

.feature-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}
.feature-card a {
   color: #1a1919;
   text-decoration: none;
}

.feature-card a:visited {
    color: #1a1919;
}

.feature-card a:active {
    color: #1a1919; 
}
.feature-card:hover {
    transform: translateY(-10px);
}

.feature-card h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #1cade6;
}
footer{
    background-color:#1cade6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    color: #ffff;
    text-decoration: none;
    margin-top: -50px;
}