
@font-face {
    font-family: Poppins;
    src: url(../Poppins/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    font-size: 16px;
    font-weight: bold;
    /* border-bottom: 2px solid rgba(255, 255, 255, .2); */
}
.logo img{
    width: 65px;
}
.navbar a{
    color: #ffff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #1cade6;
}
.divLogoPrincipal{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../ASSETS/farm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: #ffff 2px;
}
.divLogoPrincipal p{
    color: #ffff;
    font-size: 25px;
    align-items: center;
    text-align: center;
}
.divLogoPrincipal .btn{
    width: 150px;
    height: 45px;
    background-color: #1cade6;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
}
.btn:hover{
    background-color: #03678f;
}
.divLogoPrincipal img{
    width: 600px;
    margin-top: -150px;
}

.divConteudo1{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}
.imagemDivConteudo1{
    width: 350px;
    padding: 100px;
    margin-left: 150px;
    align-items: center;
    justify-content: center;
}
.textoDivConteudo1{
    margin-left: 400px;
    margin-right: 200px;
    padding: 100px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}
.textoDivConteudo1 h1{
    margin-bottom: 10px;
}
.divConteudo2{
    width: 100%;
    background-color: rgb(82, 160, 99);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.imagemDivConteudo2{
    width: 350px;
    padding: 100px;
    margin-right: 500px;
    align-items: center;
    justify-content: center;
}
.textoDivConteudo2{
    margin-left: 5px;
    padding: 100px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: #1cade6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    color: #ffff;
}