
@font-face {
    font-family: Poppins;
    src: url(../Poppins/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
    /* border-bottom: 2px solid rgba(255, 255, 255, .2); */
}
.logo img{
    width: 65px;
}
.logout img{
    width: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: row-reverse;

}
.navbar a{
    color: #ffff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #1cade6;
}
.divLogoPrincipal{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url(../ASSETS/farm.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.containerP{

    color: white;
    width: 600px;
    background: rgba(0, 195, 255, .7);
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 100px 
}
.containerP #opcoes{
    border-radius: 10px;
    padding: 5px;
}
.containerP #resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

button.opcao{
    width: 100%;
    height: 30px;
    background-color: #1cade6;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
}

footer{
    background-color: #1cade6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    color: #ffff;
}